# Ignora a pasta venv
venv/

# Ignora arquivos de cache do Python
__pycache__/
*.pyc

# Ignora arquivos de configuração local
.env
.venv
env/
 UIFiles/__pycache__/
# Ignora arquivos de IDE
.vscode/
.idea/

# Ignora arquivos de sistema
.DS_Store
Thumbs.db